.subscribe {
  min-height: 100vh;
  background: linear-gradient(180deg, #0b0014, #000);
  padding: 90px 20px;
  color: #fff;
}

.subscribe-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.subscribe h1 {
  font-size: 2.8rem;
  color:  #dd00ff;
}

.subtitle {
  color: #ffffff;
  margin: 10px 0 60px;
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.plan-card {
  background: rgba(20, 20, 20, 0.9);
  padding: 35px 25px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(157, 78, 221, 0.4);
}

.plan-card h2 {
  color: #dd00ff;
  margin-bottom: 15px;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.price span {
  font-size: 0.9rem;
  color: #aaa;
  margin-left: 5px;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.plan-card li {
  margin-bottom: 10px;
  color: white;
}

.plan-btn {
  padding: 12px 30px;
  background-color:  #dd00ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.plan-btn:hover {
  background-color: #e8adf0;
  transform: scale(1.05);
}

.popular {
  border: 2px solid #dd00ff;
}

.badge {
  position: absolute;
  top: -12px;
  right: 20px;
  background-color: #dd00ff;
  color: white;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
}

/* Media Query */

@media (max-width: 768px) {
  .subscribe h1 {
    font-size: 2rem;
  }
}
