.help {
  min-height: 100vh;
  background: linear-gradient(180deg, #0b0014, #000);
  padding: 90px 20px;
  color: #fff;
}

.help-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.help h1 {
  font-size: 2.8rem;
  color:  #dd00ff;
}

.subtitle {
  color: #ffffff;
  margin: 10px 0 50px;
}

/* Grid */
.help-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

/* Cards */
.help-card {
  background: rgba(20, 20, 20, 0.9);
  padding: 30px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.help-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px #9d4edd66;
}

.help-card h3 {
  color: #dd00ff;
  margin-bottom: 10px;
}

.help-card p {
  color:#ffffff;
  margin-bottom: 15px;
  line-height: 1.5;
}

.help-card a {
  color: #dd00ff;
  font-weight: bold;
  text-decoration: none;
}

.help-card a:hover {
  text-decoration: underline;
}

/* Contact Section */
.help-contact {
  margin-top: 70px;
  padding: 40px;
  background: #191919e6;
  border-radius: 8px;
}

.help-contact h2 {
  color: #dd00ff;
  margin-bottom: 10px;
}

.help-contact p {
  color:#ffffff;
  margin-bottom: 20px;
}

.help-btn {
  display: inline-block;
  padding: 12px 40px;
  background-color: #dd00ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}

.help-btn:hover {
  background-color: #d6abdd;
  transform: scale(1.05);
}

/* Media Query */

@media (max-width: 768px) {
  .help h1 {
    font-size: 2rem;
  }
}
