/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 12px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Left section */
.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Logo */
.logo {
  color: #dd00ff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.nav-links a.active {
  color: white;
  border-bottom: 2px solid #dd00ff;
}

/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Search  button */
.icon-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn:hover {
  color: #dd00ff;
}

/* Subscribe button */
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #dd00ff;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #eac0e7;
}

/* Profile image */
.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.login-btn {
  color: white;
  background-color: transparent;
  border: 1px solid #dd00ff;
  padding: 6px 14px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

.login-btn:hover {
  background-color: #ebc6ea;
  color: black;
}

/* ----- Media Query  ----- */

/* Tablet view */

@media (max-width: 768px) {
  .navbar {
    padding: 10px 16px;
  }

  .nav-left {
    gap: 16px;
  }

  .nav-links {
    display: none; 
  }

  .logo {
    font-size: 20px;
  }

  .profile {
    width: 32px;
    height: 32px;
  }

  .subscribe-btn {
    padding: 6px 10px;
  }
}
/* Mobile view */

@media (max-width: 480px) {
  .icon-btn {
    font-size: 16px;
  }

  .subscribe-btn {
    padding: 5px 8px;
  }

  .profile {
    width: 28px;
    height: 28px;
  }
}
